<h2> This is Gacha page </h2>

<div id="user_data">
</div>

<div id="item_container">
</div>

<div id="gachas_container">
	<div id="gacha0"></div>
	<div id="gacha1"></div>
	<div id="gacha2"></div>
</div>

<script type="text/javascript">

	(function() {

			$.ajax({
				url: '/gachas',
				type: 'get',
				data: '',
				success: function(result, textStatus, xhr) {
					generate_gacha_html(result, textStatus, xhr)

					$("button").click(function (event) {
						var $form = $(this).closest("form");
						var $button = $form.find('button');
						$.ajax({
							url: $form.attr('action'),
							type: $form.attr('method'),
							data: $form.serialize(),
							beforeSend: function(xhr, settings) {
								$("button").attr('disabled', true);
							},
							complete: function(xhr, textStatus) {
							//$button.attr('disabled', false);
							setTimeout(controller.move_page, 3000, 'gacha');
							},
							success: function(result, textStatus, xhr) {
								var gacha_result = $.parseJSON(result);
								$('#item_container').text("[Get] " + gacha_result.name + " Rarity : " + get_rarity_name(gacha_result.rarity));
								$button.attr('disabled', true);
								//setTimeout(controller.move_page, 3000, 'gacha');
							},
							error: function(xhr, textStatus, error) {
								alert($.parseJSON(xhr.responseText).message);
							}
						});
					});
					//$("button").click(function () {
					//	alert("test");
					//})
				},
				complete: function(xhr, textStatus) {
				},
				error: function(xhr, textStatus, error) {
					alert($.parseJSON(xhr.responseText).message);
				}
			})


		function generate_gacha_html(result, textStatus, xhr) {
			var $con = $(gachas_container);
			var items = [];
			var gachas = $.parseJSON(result);
			$("#user_data").append("user_id : " + gachas[0].user_name + "</br> coin : " + gachas[0].coin);
			console.log(gachas);
			var counter = 0;

			$.each( gachas, function( key, gacha ) {
				if (gacha.probabilityes_common == undefined) return true;
				var gacha_html =
					"<div id=gacha" + counter + ' style="border-width: 2px; border-style: solid;">' +
					"<p>" + gacha.name + "</p>" +
					"<p>price : " + get_price(gacha.is_draw_free, gacha.price) + "</p>" +
					"<form id=gacha_form" + counter + ' action=/gachas/draw/'+gacha.id+' method="post">' +
					'<input type="hidden" name="_method" value="PUT">' +
					'<input type="hidden" name="is_free" value='+Number(gacha.is_draw_free)+'>' +
					 	generate_gacha_button_html(gacha.is_draw_free, gacha.price) +
					"</form>"

				if (gacha.box_info !== undefined) {
					gacha_html += "Box Gacha contents";
					gacha_html += "<ol>";
					$.each(gacha.box_info, function( key, item) {
						console.log(item);
						gacha_html += "<li>[" + item.item_name + "] ["+get_rarity_name(item.item_rarity)+"] " + item.remain_number + "/" + item.max_draw + "</li>";
					});
					gacha_html += "</ol>";
				}
				gacha_html += "</div>";
				counter++;
				$con.append(gacha_html);

			});
		}

		function get_price(is_free, price) {
			if (is_free) {
					return "FREE";
			} else {
					return price;
			}
		}

		function generate_gacha_button_html(is_free, price) {
			if (is_free) {
					return "<button>draw gacha for FREE</button>";
			} else {
					return "<button>draw gacha spend "+price+" coin </button>";
			}
		}

		function get_rarity_name(rarity){
			if (rarity == 0) return "common";
			if (rarity == 1) return "uncommon";
			if (rarity == 2) return "rare";
			if (rarity == 3) return "super rare";
		}

	})();

</script>

