<h2> This is Inventry page </h2>
<p>this page get data from user item and display</p>

<div id="inventry_container">
	<ol>
	</ol>
</div>

<script type="text/javascript">

	$(function() {

			$.ajax({
				url: '/inventories',
				type: 'get',
				data: '',
				success: function(result, textStatus, xhr) {
					console.log(result);
					var items = $.parseJSON(result);
				
					$.each( items, function( key, item) {
						$("#inventry_container > ol").append(
						"<li> [Item name] : "+ item.name + " [Rarity] : " + get_rarity_name(item.rarity) + "</li>"
						);
					});
				},
				complete: function(xhr, textStatus) {
				},
				error: function(xhr, textStatus, error) {
					alert($.parseJSON(xhr.responseText).message);
				}
			})
	});


