<h2> This is login page </h2>
<p>this page provide login form and if user_id and passward is ok, redirect to gacha page, if not show error</p>


<form id="login_form" action="/users/auth" method="post">
  name: <input type="text" name="user_id" required ><br>
  password: <input type="text" name="password" required ><br>
  <button>login</button>
</form>

<script type="text/javascript">

	(function() {
		$('#login_form').submit(function (event) {
			event.preventDefault();
			var $form = $(this);
			var $button = $form.find('button');

			$.ajax({
				url: $form.attr('action'),
				type: $form.attr('method'),
				data: $form.serialize(),
				beforeSend: function(xhr, settings) {
					$button.attr('disabled', true);
				},
				complete: function(xhr, textStatus) {
					$button.attr('disabled', false);
				},
				success: function(result, textStatus, xhr) {
					$('#message').text("user login success. the page will be moved to gachapage. please login at there");
					$button.attr('disabled', true);
					setTimeout(controller.move_page, 3000, 'gacha');
				},
				error: function(xhr, textStatus, error) {
					alert($.parseJSON(xhr.responseText).message);
				}
			});
		})
	})();

</script>

