<h2> This is Signup page </h2>
<p>this page provide signup form and register user data, if same already exist same user_id, return error</p>


<form id="register_form" action="/users" method="post">
  name: <input type="text" name="user_id" required ><br>
  password: <input type="text" name="password" required ><br>
  <button>register</button>
</form>

<script type="text/javascript">

	(function() {
		$('#register_form').submit(function (event) {
			event.preventDefault();
			var $form = $(this);
			var $button = $form.find('button');

			$.ajax({
				url: $form.attr('action'),
				type: $form.attr('method'),
				data: $form.serialize(),
				beforeSend: function(xhr, settings) {
					$button.attr('disabled', true);
				},
				complete: function(xhr, textStatus) {
					$button.attr('disabled', false);
				},
				success: function(result, textStatus, xhr) {
					$('#message').text("user register success. the page will be moved to login page. please login at there");
					$button.attr('disabled', true);
					setTimeout(controller.move_page, 3000, 'login');
				},
				error: function(xhr, textStatus, error) {
					alert($.parseJSON(xhr.responseText).message);
				}
			});
		})
	})();

</script>
